<form class="w-50 mx-auto" (submit)="updatePlace()" [formGroup]="infoForm">
  <ng-container *ngIf="errMessage; else formBlock">
    <div class="alert alert-danger" role="alert">
      {{ errMessage }}
    </div>
  </ng-container>

  <ng-template #formBlock>
    <div class="mb-3">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="latitude">Latitude</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            formControlName="latitude"
          />
        </div>
      </div>

      <div class="col">
        <div class="mb-3">
          <label for="longitude">Longitude</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            formControlName="longitude"
          />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Save changes</button>
  </ng-template>
</form>